@* @page
@model MvcMovie.Views.Hello.Index
@{
ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>

</div> *@
@using MvcMovie.Models
@model MvcMovie.Models.Role
<ul>
    @{
        for (int i = 0; i < (int)ViewData["count"]!; i++)
        {
            <li>Hello @ViewData["name"]</li>
        }
    }
</ul>
<div>
    @Model.name
</div>